<!doctype html>

<html>
  
  <head>
    <title>Rose-Hulman eSports</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a href="/index" class="navbar-brand">eSports Club</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="/about/">About&nbsp;<i class="fa fa-info"></i></a>
            </li>
            <li>
              <a href="/members/">Members&nbsp;<i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="/events/">Events&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>
          <a href="/events/"><p id="statusInfo" class="navbar-text pull-right">Next Event: <b style="color:green;">League of Legends Tournament on 2/22/14</b></p></a>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Rose-Hulman eSports Club<br></h1>
        <p>Rose-Hulman's eSports Club is dedicated to bringing fans of competitive gaming together to enjoy the community and all the excitement that competitions can bring.<br></p>
        <p><a href="/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;">eSports Club News<br></div>
        <ul class="list-group">
          <li class="list-group-item">
            <h3>Our first competition has been announced!<br></h3>
            <p>The Rose-Hulman eSports Club will be hosting its first event on February 22nd, 2014! This event will be a League of Legends tournament consisting of a 5v5 bracket as well as a 1v1 bracket. <a href="/events/">Go to our events page to find out more!</a></p>
            <p style="text-align:right;">Posted on: 1/21/14</p>
          </li>
          <li class="list-group-item">
            <h3>Our site is finally up!<br></h3>
            <p>After some hard work from our members the Rose-Hulman eSports website is up and running! This will be the place that the club will post its events and provide detail about what our club does. Be on the watch for our first event shortly!</p>
            <p style="text-align:right;">Posted on: 1/16/14</p>
          </li>
        </ul>
      </div>
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; Rose-Hulman eSports Club 2014</p>
      </footer>
    </div>
    <!-- /container -->
  </body>

