<!doctype html>

<html>
  
  <head>
    <title>Rose-Hulman eSports</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 20px;
        background: url({{ url_for('static', filename='img/crossword.png') }}) repeat 0 0;
      }
    </style>
  </head>
  
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">eSports Club</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index/">Home&nbsp;<i class="fa fa-home"></i></a>
            </li>
            <li>
              <a href="/about/">About&nbsp;<i class="fa fa-info"></i></a>
            </li>
            <li>
              <a href="/members/">Members&nbsp;<i class="fa fa-user"></i></a>
            </li>
            <li class="active">
              <a href="/events/">Events&nbsp;<i class="fa fa-calendar"></i></a>
            </li>
          </ul>
          <a href="/events/"><p id="statusInfo" class="navbar-text pull-right">Next Event: <b style="color:green;">{{ nextE }}</b></p></a>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <h1 class="page-header">Club Mixer <small>May 3, 2014</small></h1>
      <h3>About this event:<br></h3>
      <p>This event is meant to bring out the club members and allow them to play in a less competitive environment. There will be pizza, drinks, prizes, and event an ASUS representitive showing off some cool stuff! Anticipated brackets include Hearthstone, Counterstrike, and Starcraft II.<br></p>
      <div class="row">
        <div class="col-md-6">
          <h3>When?</h3>
          <p>This event will occur on May 3, 2014. The event will start at 2:30PM EST and games will run until all brackets are completed.<br></p>
        </div>
        <div class="col-md-6">
          <h3>Where?</h3>
          <p>This event will occur at Rose-Hulman in room O257 with some games being played in the adjacent room O259.<br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Event Rules:<br></h2>
          <dl>
            <dt>Competitors:</dt>
            <dd>All competitors must be affiliated with Rose-Hulman Institute of Technology.<br></dd>
            <dt>Prizes:<br></dt>
            <dd>All prizes will be raffled randomly with names being placed in the raffle the same number of games they are playing in.<br></dd>
            <dt>Timing:</dt>
            <dd>All participants are allowed 10 minutes to arrive at their game or they may be disqualified. If a competitor is currently in another game the event will skip the match and return to it as soon as the competitor is available.</dd>
            <dt>Conflicting Brackets:</dt>
            <dd>If a competitor is asked to play in two different games that person should play in the game that has the lower average game time.</dd>
            <dt>Brackets:</dt>
            <dd>The brackets will be made at the event and ran by officials of the game. The brackets will be publicly accessible during and after the event.</dd>
          </dl>
          <p>Registration will occur during the event.</p>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; Rose-Hulman eSports Club 2014</p>
      </footer>
    </div>
    <!-- /container -->
    <p></p>
  </body>

</html>